.container-Estabelecimento{
    margin-top: 50px;
    margin-bottom: 100px;
    padding-right: 0px;
    padding-left: 0px;
}

#todosBanners img{
    padding: 1em;
    border-radius: 30px;
    width: auto;
    max-height: 150px;
    display: inline;
}
.container-Estabelecimento .row{
    width: 100%;
    margin: 0;
    margin-top: 6em;
}

.aberto{
    order:1
}

.fechado{
    order:2
}